<section class="home">
  {{#if loggedIn}}
  <h1 class="header">Welcome, {{user_name}}!</h1>
  <div class="tracker">
    <h2>Daily Activity Tracker</h2>
    <p>Let us know what your daily activity looks like so you can view your carbon footprint!</p>
    <button class="car-travel">I Traveled by Car</button>
    <p>How many miles did you travel by car?</p>
    <input class="car-miles-input" type="number" />
    <button class="submit-car-miles">Submit</button>
    <button class="public-travel">I Used Public Transportation</button>
    <p>How many miles did you travel on public transportation?</p>
    <input class="public-miles-input" type="number" />
    <button class="submit-public-miles">Submit</button>
    <button class="walk-travel">I Walked to my Destination</button>
    <p>How many miles did you walk?</p>
    <input class="walk-miles-input" type="number" />
    <button class="submit-walk-miles">Submit</button>

    <div class="miles-saved-output"></div>

    </div>
</div>
  <div class="donation">
    {{#each donation.card as |donation|}}
    {{/each}}
  </div>
  {{else}}
  <a href="/login">You must login first to view this page</a>
  {{/if}}
</section>

<!-- Remember to include the JavaScript file -->
<script src="/public/js/miles.js"></script>