<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoPaw</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
  <header>
    <h1 class="header">
      Welcome to EcoPaw!
    </h1>
  </header>

  <div class="flex">
    <div class="login-card">
      <h4 class="page-title">Login</h2>
      <form class="login-form" method="POST" action="/login">
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="form-input" type="text" id="username" name="username" placeholder="email" required="true" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-input" type="password" id="password" name="password" placeholder="password"
            required="true" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex">
    <div class="login-card">
      <h4 class="page-title">Signup</h2>
      <form class="signup-form" method="POST" action="/signup">
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="form-input" type="text" id="username" name="username" placeholder="username" required="true" />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-input" type="email" id="email" name="email" placeholder="email" required="true" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-input" type="password" id="password" name="password" placeholder="password"
            required="true" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Signup</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>