:root {
  --primary: #264653;
  --secondary: #2a9d8f;
  --tertiary: #f4a261;
  --light: #C6E8E4;
  --dark: #182c23;
  --error: #e76f51;
  --border-radius: 0.3rem;
}

a {
  color: var(--dark);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

header {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background: var(--tertiary);
  color: var(--primary);
  font-family: 'Oswald', sans-serif
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  background-color: var(--light);
}

.buttonStyle {
  background: var(--tertiary);
}

.login-card {
  margin-left: 25px;
  height: 300px;
  align-content: center;
}

.emissions-form {
  border: 7px solid var(--dark);
  border-radius: 10px;
}

.form-group {
  max-width: 50%;
}

.card1,
.card2,
.card3 {
  width: 480px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 4px solid var(--primary);
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--dark);
}

.footprint {
  max-width: 50%;
  max-height: fit-content;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary);
  color: var(--primary);
  border: 4px solid var(--primary);
  border-radius: 10px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.image {
  max-width: 156px;
  max-height: 156px;
  padding: 10px;
}

.viewColumn {
  float: left;
  width: 65%;
  padding: 10px;
}

/* Checkboxes on homepage */
.carCheckbox,
.publicCheckbox,
.walkCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.carCheckbox input,
.publicCheckbox input,
.walkCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.carCheckbox .checkmark,
.publicCheckbox .checkmark,
.walkCheckbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--light);
}

/* On mouse-over, add a different background color */
.carCheckbox:hover input ~ .checkmark,
.publicCheckbox:hover input ~ .checkmark,
.walkCheckbox:hover input ~ .checkmark
{
  background-color: var(--tertiary);
}

/* When the checkbox is checked, add a blue background */
.carCheckbox input:checked ~ .checkmark,
.publicCheckbox input:checked ~ .checkmark,
.walkCheckbox input:checked ~ .checkmark {
  background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.carCheckbox .checkmark:after,
.publicCheckbox .checkmark:after,
.walkCheckbox .checkmark:after
 {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.carCheckbox input:checked ~ .checkmark:after,
.publicCheckbox input:checked ~ .checkmark:after,
.walkCheckbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.carCheckbox .checkmark:after,
.publicCheckbox .checkmark:after,
.walkCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--light);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
